body{
   font-family: 'Raleway', 'Open Sans';
   
}
section{
  
   padding: 0px 171px 0px 169px;
}
.title{
   font-style: normal;
   font-weight: 100;
   font-size: 36px;
   display: flex;
   justify-content: center;
}
.tabs_container{
   display: flex;
   flex-direction: column;
   padding-left: 50px;
}
.line{
   width: 170px;
   height: 1px;
   background-color: #ec7979;
   margin: 0 auto;
   margin-bottom: 45px;
}
.h5{
   margin-bottom: 100px;
   width: 100%;
   text-align: center;
   color: #86878B;
   font-size: 18px;
}
.container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;    
}
.icon{
position: relative;
top: 0px;
left: 95px;
}
.box{
   max-width: 370px;
   display: block;
}
h4{
   font-family:  'Open Sans';
   font-weight: 700;
}
.box-title{
   padding: 10px;
   text-align: center;
   font-size: 24px
}
.box-text{
   text-align: center;
   font-size: 18px;
}
/*стили для статуи свободы*/
.tabs-section{
   padding: 0px 170px 0px 170px;
   display: flex;
  
}
.tabs .Tab{
   display: inline-flex;
   padding: 10px 90px;
  font-family: 'Open Sans';
  border-radius: 5px 5px 0px 0px;
}
/*сделать лайн прозрачным*/
.line_2{
   width: 206px;
   height: 1px;
   background: #ffffff;
   flex: none;
   position: relative;
   top: 1px;
   left: 2px;
   
}
.tabs :nth-child(1){
   border: 1px solid #C6CBCD;
   border-radius: 5%;
   padding: 10px 82px;
   border-bottom: 0px;
   border-radius: 5px 5px 0px 0px;
   box-sizing: content-box;
}
.title_1{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 41px;
   display: flex;
   align-items: flex-start;
}
.title_2{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   padding: 30px 30px 30px 80px;
}
button{
   background: #EC7979;
   width: 270px;
   height: 58px;
   left: 270px;
   top: 1691px;
   color: white;
   border: none;
}
.tabs-box{
   border: 1px solid #C6CBCD;
   display: inline-flex;
}

.rectangle img{
   
   justify-content: flex-end;
   align-items: flex-end;
   display: block;
}